@font-face {
  font-family: 'GothaPro';
  src: url('/src/fonts/GothaProBol.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url('/src/fonts/GothaProMed.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GothaPro';
  src: url('/src/fonts/GothaProReg.otf');
  font-style: normal;
  font-weight: normal;
}